.container-box{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border: 1px solid;
    height: 70%;
    width: 50%;
}

.Left{
    margin: 50px 50px 50px 50px;
}
.Rigth{
    margin: 50px 50px 50px 50px;
}

.label{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.Avatar{
    border-radius: 50%;

}










