.container-box{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    
    
}

.label{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.Avatar{
    border-radius: 50%;

}

#Element{
    margin: 10px, 10px, 10px, 10px;

}









